<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="COM" value="COM3" />
    <add key="visibility_limit" value="150"/>
    <!-- 
    mock -> test purposes
    real -> real life purposes 
    -->
    <add key="startup" value="mock" /> 
  </appSettings>
</configuration>